
/build

# vscode
/DEBUGGING_SETUP.md
/.vscode/c_cpp_properties.json

# doxygen
/docs/html
/Doxyfile.bak


# CANape artefacts
*.hex 
*.mf4
*.cnaxml
*.tmp

# Examples A2L files
/*.a2l
/*.bin
/c_demo.a2l
/cpp_demo.a2l
/hello_xcp.a2l
/struct_demo.a2l
/multi_thread_demo.a2l

# Temporary files
/conversions.a2l
/groups.a2l
/typedefs.a2l


/a2l_test.a2l
/DOCUMENTATION.md
