
build_C_Demo/
build_CPP_Demo/
bin/
obj/
*.[oa]


# Visual Studio specific files and folders
.vs/
*.suo
*.sdf
*.opensdf
*.vspscc
*.csproj.user
*.sln.DotSettings
*.sln.DotSettings.user 
*.vcxproj.user
*.iobj
*.ipdb
*.pdb
*.exe
*.tlog
*.obj
*.dll
*.xml
*.lib
*.ilk
*.idb
*.log
*.vcxproj.FileListAbsolute.txt


# CANape specific
*.pcap
*.mdf
*.mf4
*.a2L
*.HEX
*.par
*.cnaxml
Environment
CustomProperties.json

CPP_Demo/CMakeCache.txt
CPP_Demo/CMakeFiles/
CPP_Demo/CPP_Demo.out
CPP_Demo/Makefile
CPP_Demo/cmake_install.cmake
C_Demo/CMakeCache.txt
C_Demo/CMakeFiles/
C_Demo/C_Demo.out
C_Demo/Makefile
C_Demo/cmake_install.cmake
